@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-size: 17px;
    color: white;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
}

body {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.calculator-container {
    background-color: #c49ce7be;
    border-radius: 5%;
    height: 420px;
    width: 300px;
}

.pantalla {
    background-color: #808080;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pantalla div {
    margin-right: 5px;
    font-size: 30px;
}

.teclas {
    margin: 20px 0px 10px 10px;
    display: grid;
    grid-template-columns: 72% 25%;
    font-size: 10px;
}

.numeros div div {
    height: 66px;
    width: 66px;
}


.operaciones {
    display: flex;
    flex-direction: column;
    width: 40px;
}

.operaciones div {
    height: 66px;
    width: 66px;
}
