body {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.calculator-container {
    background-color: #c49ce7be;
}

.pantalla {
    background-color: #808080;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pantalla div {
    margin-right: 5px;
}

.teclas {
    padding: 5px;
    display: grid;
    grid-template-columns: 72% 25%;
}


.operaciones {
    display: flex;
    flex-direction: column;
    width: 40px;
}